<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Angular POC</h1>
      <span class="menu-spacer" ></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with settings icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with power_settings_new icon" (click)="onLogout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar-row>
  
    
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav  >
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/dashboard/users'"> Users </a>
        <a mat-list-item (click)="onLogout()"> Logout </a>
        
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


