<div fxLayoutAlign="center center" class="mainDiv" fxFlexFill>
    
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">
            <span>Login Page</span>
        </mat-toolbar>
        <form fxLayoutAlign="stretch"  fxLayout="column" class="loginForm" [formGroup]="loginFormGroup" (ngSubmit)="onLoginSubmit()">
            <mat-form-field >
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="email">
            </mat-form-field>
          
            <mat-form-field >
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password"  formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" >Login</button>
          </form>

    </mat-card>
</div>
